@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*fonts css*/

@font-face {
  font-family: "Suisse Intl", "sans-serif";
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Regular.woff") format("woff"),
    url("/fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Medium.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Medium.woff") format("woff"),
    url("/fonts/SuisseIntl-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-SemiBold.woff2") format("woff2"),
    url("/fonts/SuisseIntl-SemiBold.woff") format("woff"),
    url("/fonts/SuisseIntl-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semibold */
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Bold.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Bold.woff") format("woff"),
    url("/fonts/SuisseIntl-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* button css */

.customButton::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.customButton:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
